@import url('http://fonts.cdnfonts.com/css/black-chancery');
#header{
    text-align: center;
    background-color: pink;
    color: blue;
    font-size: 120px;
    height: 170px;
    font-family: "BlackChancery";
}
.vspace{
    height: 10px;
}

div{
    text-align: center;
}